html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Nunito regular";
  --main-color: #93a5ff;
  --light-blue: #a0b0fc;
  --Gray-color: #2e2e2e;
  
}

a {
  text-decoration: none;
  color: #fff;
}

/* ------ Start Header --------- */
header {
  background: url(../images/headerBg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 757px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo-wrapper {
}

.logo-img {
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 6321;
}

.menu-item {
  margin-right: 20px;
  padding: 40px 18px 15px 18px;
}
.menu-item.active{
  background-color: #93a5ff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-link:hover {
  color: rgb(214, 231, 247);
}
.login-btn {
  background-color: #fff;
  padding: 10px 15px;
  color: var(--main-color);
  border-radius: 5px;
  font-family: "Nunito Bold";
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.login-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}
.login-btn i {
  margin-left: 10px;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* ------- Header Content --------- */
.header-content {
  margin-top: 45px;
}
.header-title {
  font-family: "roboto";
  font-size: 40px;
}
.header-caption {
  font-size: 21px;
  opacity: 80%;
}
.header-txt {
  background-color: #384170;
  color: #fff;
  padding: 14px 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 1px;
  max-width: 280px;
  width: 100%;
}
.header-txt::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.712);
}
.header-txt::-moz-placeholder {
  color: rgba(255, 255, 255, 0.712);
}
.header-txt:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.712);
}
.header-txt::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.712);
}
.header-txt::placeholder {
  color: rgba(255, 255, 255, 0.712);
}
.header-domains {
  background-color: #384170;
  color: #fff;
  padding: 12px 20px 11px 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.domain {
}
.header-btn {
  margin-left: 25px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.header-btn:hover {
  background-color: #6e7bb6;
  color: #fff;
}
.flex-wrapper {
  -ms-flex-preferred-size: 380px;
      flex-basis: 380px;
}

/* --------- End Header ---------- */

/* --------- Start main ---------- */

.section-title {
  font-family: "Nunito ExtraBold";
  color: #2e2e2e;
  text-align: center;
  margin: 0;
  font-size: 30px;
}
.section-caption {
  color: #2e2e2e;
  opacity: 80%;
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
}
/* ----- Services Section ---- */
.services {
  text-align: center;
}
.service {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
}
.service img {
  margin-right: 22px;
  width: 60px;
}
.service-content {
  text-align: left;
}
.service-content h3 {
  margin-bottom: 15px;
  font-family: "Nunito Bold";
  color: var(--Gray-color);
}
.service-content p {
  opacity: 0.8;
  line-height: 28px;
  font-size: 17px;
  max-width: 430px;
}

/* ---- start section ----- */
.start .row .col-12 {
  margin-bottom: 20px;
}
.start {
  background-color: #f7f8ff;
}

.start-box {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 30px;
  position: relative;
}
.start-1 {
  background-color: #93a5ff;
}
.start-2 {
  background-color: #424d83;
}
.start-logo {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 70px;
  height: 70px;
}
.start-logo-1 {
  background-color: #424d83;
}
.start-logo-2 {
  background-color: #93a5ff;
}
.start-title {
  color: #fff;
  font-family: "Nunito Bold";
  margin-top: 38px;
  text-transform: uppercase;
}
.start-description {
  color: #fff;
  line-height: 28px;
}
.start-btn {
  background-color: #fff;
  color: var(--main-color);
  display: block;
  margin-left: auto;
  width: 155px;
  padding: 14px 0 14px 15px;
  font-family: "Nunito Bold";
}
.start-btn:hover i {
  margin-left: 15px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.start-btn i {
  font-size: 20px;
  margin-left: 8px;
}
.start-img-fix {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* ---- End of start section ----- */

/* ---- Start Plans section ----- */

.plans {
  height: 830px;
}

.plan {
  color: #2e2e2e;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.13);
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 25px;
}

.plan:hover .plan-bottom {
  height: 239px;
}
.plan:hover .plan-top {
  border-top: 9px solid #93a5ff;
}
.plan-top {
  padding: 50px 30px 0px 30px;
  height: 320px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border-top: 9px solid transparent;
}
.plan-img {
}
.plan-title {
  font-family: "Nunito Bold";
  color: #2e2e2e;
}
.plan-description {
  color: #2e2e2e;
  line-height: 28px;
}
.plan-bottom {
  border-top: 1px solid #ebebeb;
  padding: 30px 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  height: 128px;
  overflow: hidden;
}
.plan-price {
  font-size: 30px;
  margin-top: 15px;
}
.plan-price small {
  font-size: 14px;
}
.plan-btn {
  color: #93a5ff;
  background-color: #f7f8ff;
  font-family: "Nunito Bold";
  display: block;
  width: 185px;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 14px 0 14px 15px;
  text-align: left;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}
.plan-btn i {
  margin-left: 8px;
  transition: margin-left .4s linear;
  -webkit-transition: margin-left .4s linear;
  -moz-transition: margin-left .4s linear;
  -ms-transition: margin-left .4s linear;
  -o-transition: margin-left .4s linear;
}
.plan-btn:hover{
  background-color:#93a5ff ;
  color: #f7f8ff;
}
.plan-btn:hover i{
  margin-left: 15px;
  
}
/* ---- End of Plans section ----- */

/* ---- Start Comments section ----- */
.comments {
  background-color: #f7f8ff;
  position: relative;
}
.comments-img {
  position: absolute;
  width: 160px;
}
.comments-img-1 {
  top: -30px;
  right: 0;
}
.comments-img-2 {
  bottom: -40px;
  left: 0;
}

.comment {
  padding: 0 60px;
}
.comment-img {
  width: 85px !important;
  height: 85px !important;
  margin-right: 15px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
}
.comment-content {
}
.comment-rating {
}
.comment-rating i {
  color: #fad56b;
  margin-right: 3px;
}
.comment-body {
  font-family: "Nunito Italic";
  color: #2e2e2e;
  line-height: 28px;
}
.comment-person {
  font-family: "Nunito Bold";
  color: #2e2e2e;
}
.comment-person::before {
  content: "-";
  margin-right: 5px;
}
.owl-dots .owl-dot {
  outline: none;
}
.owl-dots .owl-dot span {
  background-color: #93a5ff !important;
  opacity: 0.4;
}
.owl-dots .owl-dot.active span {
  background-color: #93a5ff !important;
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
  opacity: 1;
  -webkit-box-shadow: 0 0px 10px rgba(147, 165, 255, 0.85);
          box-shadow: 0 0px 10px rgba(147, 165, 255, 0.85);
}
.owl-next,
.owl-prev {
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
}
.owl-next {
  left: -20px;
}
.owl-prev {
  right: -20px;
}
.owl-prev span,
.owl-next span {
  font-size: 50px !important;
  width: 40px;
  height: 40px;
  color: #889cff !important;
  display: -webkit-box !important ;
  display: -ms-flexbox !important ;
  display: flex !important ;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background: rgba(147, 165, 225, 0.15) !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 30px !important;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: 0;
  color: 0;
}
/* ---- End of Comments section ----- */

/* ---- Start Clients section ----- */
.clients-logo {
  list-style: none;
  padding-bottom: 30px;
  padding-left: 0;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients-logo li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
}
.clients-logo li img {
  width: 150px;
}
.btn-clients {
  display: block;
  margin: 0 auto;
  width: 152px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.btn-clients:hover {
  background-color: #424d83;
  color: #fff;
}
/* ---- End of Clients section ----- */

/* ----------- Start Footer -------- */
footer {
  background: url(../images/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 140px 0 40px 0;
  background-position: center top;
}
footer p {
  line-height: 28px;
}
.footer-list {
}
.footer-list-title {
  text-transform: uppercase;
  font-family: "Nunito Bold";
}
.footer-menu {
  list-style-type: none;
  padding-left: 0;
}
.footer-menu-item {
  margin-bottom: 8px;
}
.footer-menu-link {
   transition: all .3s ;
   -webkit-transition: all .3s ;
   -moz-transition: all .3s ;
   -ms-transition: all .3s ;
   -o-transition: all .3s ;
   
}
.footer-menu-link:hover{
  color: var(--light-blue);
  margin-left: 13px;
}
.accepts {
}
.accept {
  background-color: #2d355d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 0 5px; */
  width: 70px;
  height: 35px;
}
.accept-img-35 {
  width: 35% !important;
}
.accept img {
  width: 65%;
}
.footer-bottom {
  margin-top: 60px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.footer-logo {
  margin-bottom: 15px;
}
.social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 15px;
}
.social-item {
  margin-right: 10px;
}
.br-1::after {
  content: " ";
  border-right: 1px solid #fff;
  margin: 0 15px;
}
/* ------------- End Footer -------- */